torch>=2.0.0
mmcv>=2.0.0rc4

torchvision
lightning>=2.0.1
mmengine
openmim

redis
scikit-learn
scikit-image
tenacity
torchmetrics

transformers
ipdb
prettytable
einops

imageio
pycocotools
shapely
terminaltables